<div class="container">
    <div class="row mt-lg-5">    
        <div class="col">
            <h1>Inventario:</h1>
        </div> 
    </div>
    <!--BOTONES DE CONTROL-->
    <div class="row">
        <div class="col">
            <div class="btn-group float-end">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalIngresar">
                    Ingresar Item
                </button>
            </div>
        </div>    
        <div class="col">
            <div class="btn-group float-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModificar">
                    Modificar Item
                </button>
            </div>
        </div> 
    </div>
    
    <div class="row mt-3">
    <!--HEAD DE TABLA DE INVENTARIO-->
        <table class="table shadow table-hover">
            <thead class="table-dark">
                <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Categoría</th>
                <th scope="col">Subcategoría</th>
                <th scope="col">Unidad</th>
                <th scope="col">Labor Rate</th>
                <th scope="col">Material Rate</th>
                <th scope="col">Equipment Rate</th>
                <th scope="col"></th>
                </tr>
            </thead>
    <!--FILTROS DE TABLA INVENTARIO-->
            <thead class="table-dark">
                <tr>
                    <th scope="col"><input #filtroNombre="ngModel" class="w-75 form-control form-control-sm" ngModel name="filtroNombre" type="text" placeholder="Filtro por nombre"></th>
                    <th scope="col">
                        <select #filtroCategoria="ngModel" class="form-control-sm" ngModel name="filtroCategoria">
                            <option value="">Categoría (Todas)</option>
                            <option *ngFor="let cat of listaCategorias" [value]="cat.nombre">{{ cat.nombre }}</option>
                        </select>
                    </th>
                    <th scope="col">
                        <select #filtroSubcategoria="ngModel" class="form-control-sm" ngModel name="filtroSubcategoria">
                            <option value="">Subcategoría (Todas)</option>
                            <option *ngFor="let subcat of listaSubcategorias" [value]="subcat.nombre">{{ subcat.nombre }}</option>
                        </select>
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
            </thead>
    <!--CUERPO DE TABLA DE INVENTARIO-->
            <tbody>
                <ng-container *ngFor="let item of listaItems">
                    <tr *ngIf="(item.nombre.toLocaleLowerCase().includes(filtroNombre.value.toLocaleLowerCase()) || filtroNombre.value=='') &&
                                (item.categoria.includes(filtroCategoria.value) || filtroCategoria.value=='') &&
                                (item.subcategoria.includes(filtroSubcategoria.value) || filtroSubcategoria.value=='')"
                    class="table-light" scope>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.categoria }}</td>
                        <td>{{ item.subcategoria }}</td>
                        <td>{{ item.unidad }}</td>
                        <td>{{ item.laborRate }}</td>
                        <td>{{ item.materialRate }}</td>
                        <td>{{ item.equipmentRate }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-info btn-sm text-white" data-bs-toggle="modal" data-bs-target="#modalInfoItem"  (click)="recibirInformacion(item)">
                                    Detalles
                                </button>
                                <button class="btn btn-danger btn-sm" data-toggle="modal">
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
<!-- FIN TABLA DE INVENTARIO -->

<!-- MODAL DE INFO -->
<div class="modal fade" id="modalInfoItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel"><strong>{{ infoItem.nombre }}</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <table class="table table-sm">
                <tbody>
                    <tr>
                    <th>ID</th>
                        <td></td>
                        <td>{{ infoItem.id }}</td>
                    </tr>
                    <tr *ngIf="infoItem.categoria!= null">
                    <th>Categoría</th>
                        <td></td>
                        <td>{{ infoItem.categoria }}</td>
                    </tr>
                    <tr *ngIf="infoItem.subcategoria!=null">
                    <th>Subcategoría</th>
                        <td></td>
                        <td>{{ infoItem.subcategoria }}</td>
                    </tr>
                    <tr *ngIf="infoItem.unidad!=null">
                    <th>Unidad</th>
                        <td></td>
                        <td>{{ infoItem.unidad }}</td>
                    </tr>
                    <tr *ngIf="infoItem.laborRate!=null">
                    <th>Labor Rate</th>
                        <td></td>
                        <td>{{ infoItem.laborRate }}</td>
                    </tr>
                    <tr *ngIf="infoItem.materialRate!=null">
                    <th>Material Rate</th>
                        <td></td>
                        <td>{{ infoItem.materialRate }}</td>
                    </tr>
                    <tr *ngIf="infoItem.equipmentRate!=null">
                    <th>Equipment Rate</th>
                        <td></td>
                        <td>{{ infoItem.equipmentRate }}</td>
                    </tr>
                    <tr *ngIf="infoItem.descripcion != null">
                    <th>Descripción</th>
                        <td></td>
                        <td>{{ infoItem.descripcion }}</td>
                    </tr>
                    <tr>
                    <th>Creado por</th>
                        <td></td>
                        <td>{{ infoItem.idUsuario }}</td>
                    </tr>
                    <tr>
                    <th>Fecha</th>
                        <td></td>
                        <td>{{ infoItem.fecha | date:'short' }}</td>
                    </tr>
                    <tr><th></th><td></td><td></td></tr>
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN DEL MODAL INFO ITEM -->


<!--DIRECCIONES HACIA COMPONENTES DE AGREGAR Y MODIFICAR-->

    <!-- MODAL INGRESAR ITEM EN BASE DE DATOS-->
    <div id="modalIngresar" class="modal fade" data-bs-backdrop="static" ata-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" role="dialog">
        <app-ingresar></app-ingresar>
    </div>
