<div class="container">
    <div class="row mt-5 mb-3">
        <div class="col">
            <h1 class="text-white">Inventory:</h1>
        </div>
        <div class="col">
          <div class="btn-group float-end pt-3">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalIngresar">
                  Create New
              </button>
          </div>
      </div>
    </div>
    <!--BOTONES DE CONTROL-->
    <div class="row pb-2">

    </div>
    <!--FILTROS DE LA TABLA DE INVENTARIO-->
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-auto justify-content-end">
      <div class="text-end">
        <h5 class="text-white">Filter by:</h5>
      </div>
      <div class="pb-2">
          <input #filtroNombre="ngModel" class="form-control" ngModel type="text" placeholder="Name">
      </div>
      <div class="pb-2">
        <select #filtroCategoria="ngModel" class="form-select" ngModel name="filtroCategoria">
            <option value="">Category (All)</option>
            <option *ngFor="let cat of listaCategorias" [value]="cat.nombre">{{ cat.nombre }}</option>
        </select>
      </div>
      <div class="pb-2">
        <select #filtroSubcategoria="ngModel" class="form-select" ngModel name="filtroSubcategoria">
          <option value="">Type (All)</option>
          <option *ngFor="let subcat of listaSubcategorias" [value]="subcat.nombre">{{ subcat.nombre }}</option>
        </select>
      </div>
    </div>

    <div class="row mt-3">
    <!--HEAD DE TABLA DE INVENTARIO-->
      <div class="table-responsive">
        <table class="table shadow table-hover table-striped table-light table-borderless">
            <thead class="">
                <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Type</th>
                <th scope="col">Unit</th>
                <th scope="col">Labor Rate</th>
                <th scope="col">Material Rate</th>
                <th scope="col">Equipment Rate</th>
                <th scope="col"></th>
                </tr>
            </thead>
    <!--CUERPO DE TABLA DE INVENTARIO-->
            <tbody class="">
                <ng-container *ngFor="let item of listaItems">
                    <tr *ngIf="(item.nombre.toLocaleLowerCase().includes(filtroNombre.value.toLocaleLowerCase()) || filtroNombre.value=='') &&
                                (item.categoria.includes(filtroCategoria.value) || filtroCategoria.value=='') &&
                                (item.subcategoria.includes(filtroSubcategoria.value) || filtroSubcategoria.value=='')"
                    class="table-light" scope>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.categoria }}</td>
                        <td>{{ item.subcategoria }}</td>
                        <td>{{ item.unidad }}</td>
                        <td>${{ item.laborRate }}</td>
                        <td>${{ item.materialRate }}</td>
                        <td>${{ item.equipmentRate }}</td>
                        <td>
                            <div class="btn-group float-end">
                                <button class="btn btn-info btn-sm text-white" data-bs-toggle="modal" data-bs-target="#modalInfoItem"  (click)="recibirInformacion(item)">
                                  Details
                                </button>
                                <button class="btn btn-primary btn-sm text-white" data-bs-toggle="modal" data-bs-target="#modalModificarItem"  (click)="recibirInformacionModificarItem(item.id)">
                                  Modify
                                </button>
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEliminarItem" (click)="recibirInformacionItemEliminar(item.id, item.nombre)">
                                  Delete
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
      </div>
    </div>
</div>
<!-- FIN TABLA DE INVENTARIO -->

<!-- MODAL DE INFO -->
<div class="modal fade" id="modalInfoItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel"><strong>{{ infoItem.nombre }}</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <table class="table table-sm">
                <tbody>
                    <tr *ngIf="infoItem.categoria!= null">
                    <th>Category</th>
                        <td></td>
                        <td>{{ infoItem.categoria }}</td>
                    </tr>
                    <tr *ngIf="infoItem.subcategoria!=null">
                    <th>Type</th>
                        <td></td>
                        <td>{{ infoItem.subcategoria }}</td>
                    </tr>
                    <tr *ngIf="infoItem.unidad!=null">
                    <th>Unit</th>
                        <td></td>
                        <td>{{ infoItem.unidad }}</td>
                    </tr>
                    <tr *ngIf="infoItem.laborRate!=null">
                    <th>Labor Rate</th>
                        <td></td>
                        <td>${{ infoItem.laborRate }}</td>
                    </tr>
                    <tr *ngIf="infoItem.materialRate!=null">
                    <th>Material Rate</th>
                        <td></td>
                        <td>${{ infoItem.materialRate }}</td>
                    </tr>
                    <tr *ngIf="infoItem.equipmentRate!=null">
                    <th>Equipment Rate</th>
                        <td></td>
                        <td>${{ infoItem.equipmentRate }}</td>
                    </tr>
                    <tr>
                    <th>Creation Date</th>
                        <td></td>
                        <td>{{ infoItem.fecha | date:'short' }}</td>
                    </tr>
                    <tr><th></th><td></td><td></td></tr>
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN DEL MODAL INFO ITEM -->

<!--MODAL ELIMINAR ITEM-->
<div class="modal fade" id="modalEliminarItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="staticBackdropLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Are you sure you want to delete <strong>{{ infoItemEliminar.nombre }}</strong>? <br><br> This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarItem()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL ELIMINAR ITEM-->

<!--MODAL MODIFICAR ITEM-->
<div class="modal fade" id="modalModificarItem" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="exampleModalLabel">Modify Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarModal()" aria-label="Close"></button>
        </div>
        <form #f='ngForm'>
            <div class="modal-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label class="form-label">Name</label>
                            <input required type="text" placeholder="Name" name="nombreModal" [(ngModel)]="datosItemModificar.nombre" class="form-control">
                        </div>
                        <div class="col-4 mb-3">
                            <label for="exampleFormControlSelect1" class="mb-2">Category</label>
                            <select required class="form-select" name="categoriaModal" [(ngModel)]="datosItemModificar.categoria">
                                <option *ngFor="let categoria of listaCategorias" value="{{categoria.nombre}}" > {{ categoria.nombre }}</option>
                            </select>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="exampleFormControlSelect1" class="mb-2">Type</label>
                            <select required class="form-select" name="subcategoriaModal" [(ngModel)]="datosItemModificar.subcategoria">
                                <option *ngFor="let subcategoria of listaSubcategorias" value="{{subcategoria.nombre}}" > {{ subcategoria.nombre }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3 mb-3">
                            <label for="exampleFormControlSelect1" class="mb-2">Unit</label>
                            <select required class="form-select" name="unidadModal" [(ngModel)]="datosItemModificar.unidad">
                                <option *ngFor="let unidad of listaUnidades" value="{{unidad.nombre}}" > {{ unidad.nombre }}</option>
                            </select>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="exampleInputPassword1" class="mb-2">Labor Rate</label>
                            <div class="input-group">
                                <input min=1 onkeypress="return event.charCode > 45" placeholder="0" required type="number" [(ngModel)]="datosItemModificar.laborRate" name="laborRate" class="form-control">
                            </div>
                        </div>
                        <div class="col-3 mb-3">
                            <label for="exampleInputPassword1" class="mb-2">Material Rate</label>
                            <div class="input-group">
                                <input min=1 onkeypress="return event.charCode >= 48" placeholder="0" required type="number" [(ngModel)]="datosItemModificar.materialRate" name="materialRate" class="form-control">
                            </div>
                            </div>
                        <div class="col-3 mb-3">
                            <label for="exampleInputPassword1" class="mb-2">Equipment Rate</label>
                            <div class="input-group">
                                <input min=1 onkeypress="return event.charCode >= 48" placeholder="0" required type="number" [(ngModel)]="datosItemModificar.equipmentRate" name="equipmentRate" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--MODAL FOOTER-->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-bs-dismiss="modal">
                Close
            </button>
            <button data-bs-dismiss="modal" type="button" (click)="modificarItem()" class="btn btn-primary">
                Modify
            </button>
        </div>
    </div>
  </div>
</div>
<!--FIN DEL MODAL MODIFICAR ITEM-->

<!--DIRECCIONES HACIA COMPONENTES DE AGREGAR Y MODIFICAR-->

    <!-- MODAL INGRESAR ITEM EN BASE DE DATOS-->
    <div id="modalIngresar" class="modal fade" data-bs-backdrop="static" ata-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" role="dialog">
        <app-ingresar></app-ingresar>
    </div>
