<div class="container">
  <div class="row mt-3">
    <div class="col">
        <h1 class="text-white">Presupuestos:</h1>
    </div>
    <div class="col">
      <div class="btn-group float-end pt-3">
          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalIngreso">
              Crear Nuevo
          </button>
      </div>
    </div>
  </div>
  <div class="row mt-3 row-cols-1 row-cols-md-auto">
    <div class="col py-2">
        <input #filtroNombre="ngModel" class="w-75 form-control" ngModel type="text" placeholder="Filtro por nombre">
    </div>
    <div class="col pt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
        <label class="form-check-label text-light" for="flexCheckDefault">
          Gubernamental
        </label>
      </div>
    </div>
    <div class="col pt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label text-light" for="flexCheckChecked">
          Privado
        </label>
      </div>
    </div>
    <div class="col py-2">
      <input class="form-control form-control-sm" type="month" name="fechaVencimiento" value=""  class="form-control" id="floatingInput" placeholder="Filtro por fecha">
    </div>
  </div>
    <div class="row mt-3">
    <!--HEAD DE TABLA DE PRESUPUESTOS-->
      <div class="table-responsive">
        <table class="table shadow table-hover table-striped table-light table-borderless">
            <thead class="">
                <tr class="">
                  <th scope="col">Nombre</th>
                  <th scope="col">Estatus</th>
                  <th scope="col">Fecha</th>
                  <th></th>
                </tr>
            </thead>
    <!--CUERPO DE TABLA DE PRESUPUESTOS-->
            <tbody class="">
              <!-- (presupuesto.tipo.includes(filtroTipo.value) || filtroTipo.value=='') -->
                <ng-container *ngFor="let presupuesto of listaPresupuestos">
                    <tr *ngIf="(presupuesto.nombre.toLocaleLowerCase().includes(filtroNombre.value.toLocaleLowerCase()) || filtroNombre.value=='')"
                    class="" scope>
                        <td>{{ presupuesto.nombre }}</td>
                        <!-- <td>{{ presupuesto.tipo }}</td> -->
                        <td>{{ presupuesto.estatus }}</td>
                        <td>{{ presupuesto.fecha | date:'mediumDate'}}</td>
                        <td>
                            <div class="btn-group float-end" role="group">
                                <button class="btn btn-info text-white btn-sm" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#modalInfoPresupuesto" (click)="recibirInformacion(presupuesto)">
                                    Detalles
                                </button>
                                <button class="btn btn-primary text-white btn-sm" data-bs-toggle="modal">
                                  Editar Presupuesto
                                </button>
                                <button class="btn btn-danger btn-sm" data-toggle="modal">
                                    Eliminar
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
      </div>
    </div>
</div>


<!--MODAL AGREGAR PRESUPUESTO-->
<div id="modalIngreso" class="modal fade" data-bs-backdrop="static" ata-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Ingreso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="cerrarModal()" aria-label="Close"></button>
            </div>
            <form #f='ngForm'>
                <div class="modal-body">
                    <div class="form-group">
                        <h3>Nuevo Presupuesto</h3>
                        <div class="row">
                            <div class="col-4 mb-3">
                                <label class="form-label">Nombre</label>
                                <input #nombre="ngModel" required type="text" name="nombre" [(ngModel)]="nuevoPresupuesto.nombre" class="form-control">
                            </div>
                            <div class="col-4 mb-3">
                                <label for="exampleFormControlSelect1" class="mb-2">Tipo</label>
                                <select #tipoPresupuesto="ngModel" ngModel required class="form-select" name="categoria" [(ngModel)]="nuevoPresupuesto.tipo">
                                    <option value="Privado">Privado</option>
                                    <option value="Gobierno">Gobierno</option>
                                </select>
                            </div>
                            <div class="col-4 mb-3" *ngIf='tipoPresupuesto.value=="Gobierno"'>
                                <label for="exampleFormControlSelect1" class="mb-2">Labor Price</label>
                                <input min=1 onkeypress="return event.charCode > 45" required type="number" [(ngModel)]="nuevoPresupuesto.laborGubernamental" name="laborGubernamental" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4 mb-3">
                                <label for="exampleInputPassword1" class="mb-2">Labor Rate</label>
                                <div class="input-group">
                                    <input min=1 onkeypress="return event.charCode > 45" required type="number" [(ngModel)]="nuevoPresupuesto.laborRate" name="laborRate" class="form-control">
                                </div>
                            </div>
                            <div class="col-4 mb-3">
                                <label for="exampleInputPassword1" class="mb-2">Material Rate</label>
                                <div class="input-group">
                                    <input min=1 onkeypress="return event.charCode >= 48" required type="number" [(ngModel)]="nuevoPresupuesto.materialRate" name="materialRate" class="form-control">
                                </div>
                                </div>
                            <div class="col-4 mb-3">
                                <label for="exampleInputPassword1" class="mb-2">Equipment Rate</label>
                                <div class="input-group">
                                    <input min=1 onkeypress="return event.charCode >= 48" required type="number" [(ngModel)]="nuevoPresupuesto.equipmentRate" name="equipmentRate" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label>Descripción</label>
                                <textarea class="form-control" #descripcion="ngModel" required type="text" name="descripcion" [(ngModel)]="nuevoPresupuesto.descripcion"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--MODAL FOOTER-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button data-bs-dismiss="modal" type="button" (click)="onSubmit()" class="btn btn-primary">
                    Ingresar
                </button>
            </div>
        </div>
    </div>
</div>
<!--FIN DEL MODAL AGREGAR PRESUPUESTO-->

<!-- MODAL DE INFO -->
<div class="modal fade" id="modalInfoPresupuesto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel"><strong>{{ infoPresupuesto.nombre }}</strong></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <table class="table table-sm">
                <tbody>
                    <tr>
                    <th>ID</th>
                        <td></td>
                        <td>{{ infoPresupuesto.id }}</td>
                    </tr>
                    <tr *ngIf="infoPresupuesto.tipo != null">
                    <th>Tipo</th>
                        <td></td>
                        <td>{{ infoPresupuesto.tipo }}</td>
                    </tr>
                    <tr *ngIf="infoPresupuesto.laborGubernamental!=null">
                    <th>Costo por labor gubernamental</th>
                        <td></td>
                        <td>{{ infoPresupuesto.laborGubernamental }}</td>
                    </tr>
                    <tr>
                    <th>Estatus</th>
                        <td></td>
                        <td>{{ infoPresupuesto.estatus }}</td>
                    </tr>
                    <tr *ngIf="infoPresupuesto.precio!=null">
                    <th>Precio</th>
                        <td></td>
                        <td>{{ infoPresupuesto.precio }}</td>
                    </tr>
                    <tr *ngIf="infoPresupuesto.laborRate!=null">
                    <th>Labor Rate</th>
                        <td></td>
                        <td>{{ infoPresupuesto.laborRate }}</td>
                    </tr>
                    <tr *ngIf="infoPresupuesto.materialRate!=null">
                    <th>Material Rate</th>
                        <td></td>
                        <td>{{ infoPresupuesto.materialRate }}</td>
                    </tr>
                    <tr *ngIf="infoPresupuesto.equipmentRate!=null">
                    <th>Equipment Rate</th>
                        <td></td>
                        <td>{{ infoPresupuesto.equipmentRate }}</td>
                    </tr>
                    <tr *ngIf="infoPresupuesto.descripcion != null">
                    <th>Descripción</th>
                        <td></td>
                        <td>{{ infoPresupuesto.descripcion }}</td>
                    </tr>
                    <tr>
                    <th>Creado por</th>
                        <td></td>
                        <td>{{ infoPresupuesto.idUsuario }}</td>
                    </tr>
                    <tr>
                    <th>Fecha</th>
                        <td></td>
                        <td>{{ infoPresupuesto.fecha | date:'short' }}</td>
                    </tr>
                    <tr><th></th><td></td><td></td></tr>
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- FIN DEL MODAL INFO -->

