<div class="container-fluid">
  <div class="row mt-5">
    <div class="col">
      <h1 class="text-white">{{ presupuesto.nombre }}</h1>
    </div>
    <div class="col text-end">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModificarPresupuesto">
        Modify Estimate
      </button>
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modalIngresar">
        Add Item
      </button>
    </div>
  </div>
  <div class="row mt-4">
    <div class="table-responsive">
      <table class="table table-sm shadow table-hover table-striped table-light table-borderless">
          <thead class="">
              <tr class="">
                <th scope="col">L</th>
                <th scope="col">M</th>
                <th scope="col">Scope</th>
                <th scope="col">Qty.</th>
                <th scope="col">Unit</th>
                <th scope="col">Labor Rate</th>
                <th scope="col">Material Rate</th>
                <th scope="col">Equipment Rate</th>
                <th scope="col">Est. Labor Costs</th>
                <th scope="col">Est. Equipment (Tax Incl.)</th>
                <th scope="col">Est. Mat. (Tax Incl.)</th>
                <th scope="col">Est. Sub. Markup</th>
                <th scope="col">Totals</th>
                <th scope="col">Note</th>
              </tr>
          </thead>
          <tbody class="">
            <tr *ngFor="let item of itemsPresupuesto">
              <td><input type="number" class="form-control input-tabla form-control-sm bg-transparent border-0"></td>
              <td><input type="number" class="form-control input-tabla form-control-sm bg-transparent border-0"></td>
              <td>{{ item.nombre }}</td>
              <td></td>
              <td>{{ item.unidad }}</td>
              <td>{{ item.laborRate }}</td>
              <td>{{ item.materialRate }}</td>
              <td>{{ item.equipmentRate }}</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#modalEliminarItemPresupuesto" (click)="asignarItemPresupuestoEliminar(item.id, item.nombre)">
                  X
                </button>
            </td>
            </tr>
          </tbody>
      </table>
    </div>
  </div>
</div>

<div id="modalIngresar" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-success text-white">
            <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <select #filtroCategoria="ngModel" class="form-select" ngModel name="filtroCategoria" aria-label="Default select example">
              <option value="">Category (All)</option>
              <option *ngFor="let categoria of listaCategorias" [value]="categoria.nombre">{{ categoria.nombre }}</option>
            </select>
          </div>
            <div class="col">
              <select #filtroSubcategoria="ngModel" class="form-select" ngModel name="filtroSubcategoria" aria-label="Default select example">
                <option value="">Type (All)</option>
                <option *ngFor="let subcategoria of listaSubcategorias" [value]="subcategoria.nombre">{{ subcategoria.nombre }}</option>
              </select>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <ul class="list-group">
                <ng-container *ngFor="let item of listaItems">
                  <li *ngIf="(item.categoria == filtroCategoria.value || filtroCategoria.value == '') &&
                  (item.subcategoria == filtroSubcategoria.value || filtroSubcategoria.value == '')" class="list-group-item">
                    <span>{{ item.nombre }} </span>
                    <button (click)="onAddItem(item)" class="btn btn-success rounded-pill float-end justify-content-center align-items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"/>
                      </svg>
                      Add
                    </button>
                  </li>
                </ng-container>

              </ul>
            </div>
          </div>
        </div>

        <!--MODAL FOOTER-->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>
</div>

<!--MODAL MODIFICAR PRESUPUESTO-->
<div id="modalModificarPresupuesto" class="modal fade" data-bs-backdrop="static" ata-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="exampleModalLabel">Modify Estimate</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form #f='ngForm'>
              <div class="modal-body">
                  <div class="form-group">
                      <div class="row">
                          <div class="col-6 mb-3">
                              <label class="form-label">Name</label>
                              <input required type="text" name="nombre" [(ngModel)]="nuevosDatosPresupuesto.nombre" class="form-control" placeholder="Name">
                          </div>
                          <div class="col-3 mb-3">
                              <label for="exampleFormControlSelect1" class="mb-2">Type</label>
                              <select #tipoPresupuesto="ngModel" ngModel required class="form-select" name="categoria" [(ngModel)]="nuevosDatosPresupuesto.tipo">
                                  <option value="Private">Private</option>
                                  <option value="Government">Government</option>
                              </select>
                          </div>
                          <div class="col-3 mb-3" *ngIf='tipoPresupuesto.value=="Government"'>
                              <label for="exampleFormControlSelect1" class="mb-2">Government Labor Rate</label>
                              <input min=1 onkeypress="return event.charCode > 45"  placeholder="0" required type="number" [(ngModel)]="nuevosDatosPresupuesto.laborGubernamental" name="laborGubernamental" class="form-control">
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="row">
                        <div class="col-3 mb-3">
                          <label for="exampleInputPassword1" class="mb-2">Zip Code</label>
                          <input required type="text" name="zipCode" [(ngModel)]="nuevosDatosPresupuesto.zipCode" class="form-control" placeholder="XX-XXXX">
                      </div>
                          <div class="col-3 mb-3">
                              <label for="exampleInputPassword1" class="mb-2">Labor Rate</label>
                              <div class="input-group">
                                  <input min=1 onkeypress="return event.charCode > 45" placeholder="0" required type="number" [(ngModel)]="nuevosDatosPresupuesto.laborRate" name="laborRate" class="form-control">
                              </div>
                          </div>
                          <div class="col-3 mb-3">
                              <label for="exampleInputPassword1" class="mb-2">Material Rate</label>
                              <div class="input-group">
                                  <input min=1 onkeypress="return event.charCode >= 48" placeholder="0" required type="number" [(ngModel)]="nuevosDatosPresupuesto.materialRate" name="materialRate" class="form-control">
                              </div>
                              </div>
                          <div class="col-3 mb-3">
                              <label for="exampleInputPassword1" class="mb-2">Equipment Rate</label>
                              <div class="input-group">
                                  <input min=1 onkeypress="return event.charCode >= 48"  placeholder="0" required type="number" [(ngModel)]="nuevosDatosPresupuesto.equipmentRate" name="equipmentRate" class="form-control">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                        <div class="col-4 mb-3">
                            <label for="exampleInputPassword1" class="mb-2">Tax Percentage</label>
                            <div class="input-group">
                                <input min=1 onkeypress="return event.charCode > 45" placeholder="0" required type="number" [(ngModel)]="nuevosDatosPresupuesto.taxPercentage" name="taxPercentage" class="form-control">
                            </div>
                        </div>
                        <div class="col-4 mb-3">
                            <label for="exampleInputPassword1" class="mb-2">Contingency Percentage</label>
                            <div class="input-group">
                                <input min=1 onkeypress="return event.charCode >= 48" placeholder="0" required type="number" [(ngModel)]="nuevosDatosPresupuesto.contingencyPercentage" name="contingencyPercentage" class="form-control">
                            </div>
                            </div>
                        <div class="col-4 mb-3">
                            <label for="exampleInputPassword1" class="mb-2">Profit Percentage</label>
                            <div class="input-group">
                                <input min=1 onkeypress="return event.charCode >= 48"  placeholder="0" required type="number" [(ngModel)]="nuevosDatosPresupuesto.profitPercentage" name="profitPercentage" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                  <div class="form-group">
                      <div class="row">
                          <div class="col">
                              <label>Description</label>
                              <textarea class="form-control" placeholder="Add Description" #descripcion="ngModel" required type="text" name="descripcion" [(ngModel)]="nuevosDatosPresupuesto.descripcion"></textarea>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <!--MODAL FOOTER-->
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
              </button>
              <button data-bs-dismiss="modal" type="button" (click)="modificarPresupuesto()" class="btn btn-primary">
                  Modify
              </button>
          </div>
      </div>
  </div>
</div>
<!--FIN DEL MODAL MODIFICAR PRESUPUESTO-->

<!--MODAL ELIMINAR ITEM-->
<div class="modal fade" id="modalEliminarItemPresupuesto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="staticBackdropLabel">Delete</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Are you sure you want to delete <strong>{{ infoItemEliminar.nombre }}</strong> from {{ presupuesto.nombre }}? <br><br> This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="eliminarItemPresupuesto()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--FIN MODAL ELIMINAR ITEM-->

